@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,700&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 64px;
  font-weight: 300;
}

h2 {
  font-size: 48px;
  font-weight: 300;
}

h3 {
  font-size: 36px;
  font-weight: 300;
}

h4 {
  font-size: 24px;
  font-weight: 300;
}

h5 {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
}

h6 {
  font-size: 16px;
  font-weight: 300;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
