.lista-habilidade {
  margin-left: 32px;
  margin-bottom: 16px;
  gap: 12px;
}

.lista-habilidade li {
  font: 800 18px "Montserrat", sans-serif;
}

.input-habilidade {
  width: 570px;
  margin-right: 8px;
  margin-bottom: 16px;
}
