.experiencia {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  // grid-column: 1/2;
  gap: 24px;
}

.experiencia-salvas {
  padding: 36px 16px;
}

.experiencia-salvas li {
  list-style: none; 
  background: rgba(255, 255, 255, 0.5);
  color: $black-normal;
  margin-bottom: 32px;
  padding: 16px;
  border-radius: 4px;
  font: 500 16px "Montserrat", sans-serif;  
}