.pagina {
  margin: 64px 32px;
}

.header,
.main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 64px;
}

.header {
  align-items: center;
}

.header-esq {
  width: 100%;
}

.header-dir,
.main-dir {
  display: flex;
  flex-direction: column;
}

.main {
  margin-top: 32px;
  justify-content: flex-start;
}

.main-esq-exp {
  margin-bottom: 32px;
}

.main span {
  display: flex;
  gap: 4px;
}

.exp-resumo {
  margin-top: 12px;
  width: 100%;
}

.main-dir ul {
  margin-bottom: 32px;
}

.header li,
.main-dir li {
  list-style: none;
  margin-bottom: 12px;
  font: 500 10px "Montserrat", sans-serif;
  list-style: none;
  margin-bottom: 10px;
}

.habilidades ul {
  padding-left: 24px;
}

.pagina h1,
h2,
h3,
h4,
p {
  font-family: "Montserrat", sans-serif;
}

.pagina h1 {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 12px;
}

.pagina h2 {
  font-size: 16px;
  font-weight: 800;
  margin-bottom: 8px;
}

.pagina h3 {
  font-size: 12px;
  font-weight: 800;
  margin-bottom: 8px;
}

.pagina h4 {
  font-size: 12px;
  font-weight: 800;
  margin-bottom: 32px;
  text-transform: uppercase;
  color: $blue-dark;
}

p {
  font-size: 12px;
  font-weight: 500;
}